<div>
  <h3>Edit <strong><%= @category.title %></strong></h3>
  <form method="post" action="/category/<%= @id %>/edit">
    <label>Category Title: </label>
    <input name="cat_title" type="text" value="<%= @category.title %>"><br>
    <label>Allotted Monthly Funds for Category: </label>
    <input name="cat_allotted_funds" type="number" value="<%= @category.amount %>"><br>
    <button class="btn" type="submit">Update Category</button>
  </form>
  <form method="post" action="/category/<%= @id %>/delete">
    <button class="btn" type="submit">Delete Category</button>
  </form>
  
</div>

<div>
  <h3>Add Transaction:</h3>
  <form method="post" action="/transaction/create">
    <label for="category">Category:</label>
    <select name="category">
      <% @budget.categories.each do |category| %>
        <option value="<%= category.title %>"><%= category.title %></option>        
      <% end %>
    </select><br>
    <label>Description:</label>
    <input name="description" type="text"><br>
    <label>Transaction Amount:</label>
    <input name="transaction_amt" type="number"><br>
    <button class="btn" type="submit">Add Transaction</button>
  </form>
</div>

<div>
  <h3><%= @category.title %> Transactions:</h3>
  <table>
    <thead>
      <tr>
        <th class="table-head">Amount</th>
        <th class="table-head">Description</th>
        <th class="table-head">Date</th>
        <th class="table-head">Time</th>
      </tr>
    </thead>
    <tbody>
      <% @category.transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.amount %></td>
          <td><%= transaction.description %></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>