<% if session[:budget] %>
  <div id="menu-container">
    <div>
      <form method="get" action="/add_funds">
        <button type="submit">Add Funds</button>
      </form>
    </div>

    <div>
      <form method="get" action="/category/add">
        <button type="submit">Add Expense Category</button>
      </form>
    </div>

    <div>
      <form method="get" action="/add_transaction">
        <button type="submit">Add Transaction</button>
      </form>
    </div>

    <div>
      <form method="post" action="/budget/delete">
        <button type="submit">Delete Budget</button>
      </form>
    </div>
  </div>

  <div>
    <ul>
      <% @budget.categories.each do |category| %>
        <li class="category-item">
          <p class="category-item">ID: <%= category.id %></p>
          <p class="category-item"><%= category.title %></p>
          <p class="category-item"><%= category.amount %></p>
          <form method="get" action="/category/<%= category.id %>/edit">
            <button class="category-item" type="submit">Edit</button>
          </form>
          <form method="post" action="/category/<%= category.id %>/delete">
            <button class="category-item" type="submit">Delete</button>
          </form>
        </li>
      <% end %>
    </ul>

    <h3>Total Expenses: <%= @budget.calc_expenses %></h3>
  </div>

<% else %>
  <div>
    <h1>Create a Budget!</h1>
    <form method="post" action="/budget/create">
      <label>Whats the name of your budget?</label>
      <input name="budget_name" type="text">
      <button type="submit">Create Budget</button>
    </form>
  </div>
<% end %>
