<% if session[:budget] %>
  <div id="menu-container">
      <form method="get" action="/budget/add_funds">
        <button class="btn" type="submit">Add Funds</button>
      </form>

      <form method="get" action="/category/new">
        <button class="btn" type="submit">Add Expense Category</button>
      </form>

      <form method="get" action="/transaction/add">
        <button class="btn" type="submit">Add Transaction</button>
      </form>

      <form method="post" action="/budget/delete">
        <button class="btn" type="submit">Delete Budget</button>
      </form>
  </div>

  <div>
    <h3>Categories:</h3>
    <ul>
      <% @budget.categories.each do |category| %>
        <li class="category-item">
          <p class="category-item">$<%= category.amount %></p>
          <p class="category-item"><%= category.title %></p>
          <form method="get" action="/category/<%= category.id %>">
            <button class="category-item btn" type="submit">View</button>
          </form>
          <form method="post" action="/category/<%= category.id %>/delete">
            <button class="category-item btn" type="submit">Delete</button>
          </form>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <h3>Add Transaction:</h3>
    <form method="post" action="/transaction/create">
      <label for="category">Category:</label>
      <select name="category">
        <% @budget.categories.each do |category| %>
          <option value="<%= category.title %>"><%= category.title %></option>        
        <% end %>
      </select>
      <label>Description:</label>
      <input name="description" type="text">
      <label>Transaction Amount:</label>
      <input name="transaction_amt" type="number">
      <button class="btn stacked-btn" type="submit">Add Transaction</button>
    </form>
  </div>

  <div>
  <h3>Transactions Total: $<%= transactions_total %></h3>
    <ul>
      <% all_transactions.each do |transaction| %>
        <li>
          $<%= transaction.amount %>
          <%= transaction.description.downcase %>
          <%= transaction.category %>
        </li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div>
    <h1>Create a Budget!</h1>
    <form method="post" action="/budget/create">
      <label>Whats the name of your budget?</label>
      <input name="budget_name" type="text">
      <button type="submit">Create Budget</button>
    </form>
  </div>
<% end %>
