<% if session[:budget] %>
  <div id="menu-container">
      <form method="get" action="/budget/add_funds">
        <button class="btn btn-nav" type="submit">Add/Deduct Funds</button>
      </form>

      <form method="get" action="/category/new">
        <button class="btn btn-nav" type="submit">Add Expense Category</button>
      </form>

      <form method="get" action="/transaction/add">
        <button class="btn btn-nav" type="submit">Add Transaction</button>
      </form>

      <form method="post" action="/budget/delete">
        <button class="btn btn-nav" type="submit">Delete Budget</button>
      </form>
  </div>

  <div>
    <h3>Budget Categories:</h3>
    <table>
      <thead>
        <tr>
          <th class="table-head">Amount</th>
          <th class="table-head categories">Category</th>
          <th class="table-head buttons"></th>
          <th class="table-head buttons"></th>
        </tr>
      </thead>
      <tbody>
        <% @budget.categories.each do |category| %>
          <tr>
            <td>$<%= category.amount %></td>
            <td><%= category.title %></td>
            <td class="buttons">
              <form method="get" action="/category/<%= category.id %>">
                <button class="category-item btn" type="submit">View</button>
              </form>
            </td>
            <td class="buttons">
              <form method="post" action="/category/<%= category.id %>/delete">
                <button class="category-item btn" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3>Estimated Monthly Expenses: $<%= @budget.calc_expenses %></h3>
  </div>

  <div>
    <h3>Add a Transaction:</h3>
    <form method="post" action="/transaction/create">
      <label for="category">Category:</label>
      <select name="category">
        <% @budget.categories.each do |category| %>
          <option value="<%= category.title %>"><%= category.title %></option>        
        <% end %>
      </select><br>
      <label>Description:</label>
      <input name="description" type="text"><br>
      <label>Transaction Amount:</label>
      <input name="transaction_amt" type="number"><br>
      <button class="btn" type="submit">Add Transaction</button>
    </form>
  </div>

  <div>
  <h3>Transactions Total: $<%= transactions_total %></h3>
    <table>
      <thead>
        <tr>
          <th class="table-head">Amount</th>
          <th class="table-head categories">Category</th>
          <th class="table-head categories">Description</th>
        </tr>
      </thead>
      <tbody>
        <% all_transactions.each do |transaction| %>
          <tr>
            <td>$<%= transaction.amount %></td>
            <td><%= transaction.category.title %></td>
            <td><%= transaction.description.downcase %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <div>
    <h1>Create a Budget!</h1>
    <form method="post" action="/budget/create">
      <label>Whats the name of your budget?</label>
      <input name="budget_name" type="text">
      <button class="btn" type="submit">Create Budget</button>
    </form>
  </div>
<% end %>
